@charset "UTF-8";
/* Styles Reset */
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

nav, footer, header {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea, select {
  font-family: inherit;
  color: inherit;
  letter-spacing: inherit;
}

textarea {
  resize: none;
}

button, label {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  color: inherit;
}

a:focus, a:active {
  outline: none;
}

a, a:visited, a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
/* Project Fonts */
/* Variables */
/* General Styles */
:root {
  font-size: 16px;
}

body {
  min-width: 320px;
  font-family: "Jost", sans-serif;
  color: #312D70;
}

body.lock {
  overflow: hidden;
}

h2 {
  font-size: 40px;
  font-weight: 600;
  line-height: 1.475;
}
@media screen and (max-width: 768px) {
  h2 {
    max-width: 80%;
    font-size: 34px;
    line-height: 1;
  }
}

h3 {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.2;
}
@media screen and (max-width: 768px) {
  h3 {
    font-size: 20px;
    line-height: 1.2;
  }
}

.wrapper {
  background: #F8FAFF;
  padding: 92px 0 25px;
}
@media screen and (max-width: 768px) {
  .wrapper {
    padding: 72px 0 25px;
  }
}
@media screen and (max-width: 640px) {
  .wrapper {
    padding: 72px 0 40px;
  }
}

.content {
  display: flex;
  padding: 40px 0 0 0;
}

.brand-number {
  width: 32px;
  height: 32px;
  text-align: center;
  vertical-align: middle;
  font-size: 14px;
  line-height: 32px;
  border-radius: 50%;
  color: #fff;
  background: #00D385;
}

.dropdown {
  width: 0;
  height: 0;
  border-top: 5px solid #00D385;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  cursor: pointer;
}

/* Containers */
.container {
  max-width: 1680px;
  margin: 0 auto;
  width: 100%;
  padding: 0 40px;
}
@media screen and (max-width: 1024px) {
  .container {
    padding: 0 30px;
  }
}
@media screen and (max-width: 600px) {
  .container {
    padding: 0 20px;
  }
}

/* Import Main Styles */
/* Header Styles Start */
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  transition: all 0.2s ease-in-out;
}
.header.active {
  border-bottom: 1px solid #E5E5E5;
}
.header::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #fff;
  z-index: -1;
}
.header__body {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}
@media screen and (max-width: 600px) {
  .header__body {
    padding: 20px 0;
  }
}
.header__burger {
  position: relative;
  display: none;
  z-index: 10;
  cursor: pointer;
}
@media screen and (max-width: 1000px) {
  .header__burger {
    display: block;
    flex: 0 0 24px;
    height: 12px;
    margin: 0 35px 0 0;
    z-index: 20;
  }
}
@media screen and (max-width: 600px) {
  .header__burger {
    margin: 0;
  }
}
.header__burger span {
  position: absolute;
  top: 5px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #DFDFE6;
  transition: all 0.3s ease-in-out;
}
.header__burger::before, .header__burger::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background: #DFDFE6;
  transition: all 0.3s ease-in-out;
}
.header__burger::before {
  top: 0;
}
.header__burger::after {
  bottom: 0;
}
.header__burger.active::before {
  transform: rotate(45deg);
  top: 5px;
}
.header__burger.active::after {
  transform: rotate(-45deg);
  bottom: 5px;
}
.header__burger.active span {
  transform: scale(0);
}
.header__logo {
  flex: 0 0 130px;
  position: relative;
  z-index: 10;
  margin: 0 120px 0 0;
}
@media screen and (max-width: 1440px) {
  .header__logo {
    margin: 0 120px 0 0;
  }
}
@media screen and (max-width: 1024px) {
  .header__logo {
    margin: 0 113px 0 0;
  }
}
@media screen and (max-width: 1000px) {
  .header__logo {
    flex: 0 0 100px;
    margin: 0 35px 0 0;
  }
}
@media screen and (max-width: 600px) {
  .header__logo {
    margin: 0;
  }
}
.header__logo img {
  max-width: 100%;
}
.header__back {
  color: #A9A9BD;
  line-height: 0.8;
  margin-right: auto;
  transition: all 0.2s ease-in-out;
}
.header__back:hover {
  color: #9D98EC;
}
@media screen and (max-width: 1000px) {
  .header__back {
    display: none;
  }
}
.header__notifications {
  display: flex;
  align-items: center;
}
.header__notifications p {
  font-weight: 500;
}
@media screen and (max-width: 1000px) {
  .header__notifications p {
    display: none;
  }
}
@media screen and (max-width: 740px) {
  .header__notifications .brand-number {
    display: none;
  }
}
.header__balance {
  display: flex;
  align-items: center;
  margin: 0 0 0 93px;
}
@media screen and (max-width: 1440px) {
  .header__balance {
    margin: 0 0 0 55px;
  }
}
@media screen and (max-width: 1024px) {
  .header__balance {
    margin: 0 0 0 30px;
  }
}
@media screen and (max-width: 1000px) {
  .header__balance .balance-text {
    display: none;
  }
}
@media screen and (max-width: 740px) {
  .header__balance {
    margin: 0 20px 0 0;
  }
  .header__balance .balance-sum {
    display: none;
  }
  .header__balance .balance-icon {
    display: block;
  }
}
@media screen and (max-width: 600px) {
  .header__balance {
    margin: 0;
  }
}
.header__account {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0 0 0 135px;
}
@media screen and (max-width: 1440px) {
  .header__account {
    margin: 0 0 0 55px;
  }
}
@media screen and (max-width: 1024px) {
  .header__account {
    margin: 0 0 0 30px;
  }
}
@media screen and (max-width: 1000px) {
  .header__account {
    margin: 0 0 0 45px;
  }
}
@media screen and (max-width: 740px) {
  .header__account {
    margin: 0;
  }
}

.notification-icon {
  margin: 0 10px 0 0;
}
@media screen and (max-width: 740px) {
  .notification-icon {
    margin: 0 20px 0 0;
  }
}
@media screen and (max-width: 600px) {
  .notification-icon {
    margin: 0;
  }
}
.notification-icon__mobile {
  display: none;
}
@media screen and (max-width: 740px) {
  .notification-icon__mobile {
    display: block;
  }
}
@media screen and (max-width: 740px) {
  .notification-icon__pc {
    display: none;
  }
}

.notification-text {
  color: #312D70;
  line-height: 0.8;
  margin: 0 10px 0 0;
  transition: all 0.2s ease-in-out;
}
.notification-text:hover {
  color: #9D98EC;
}

.balance-text {
  color: #A9A9BD;
  margin: 0 5px 0 0;
}

.balance-sum {
  font-weight: 600;
  color: #00D385;
}

.balance-icon {
  display: none;
}

.account-icon {
  margin: 0 10px 0 0;
}
@media screen and (max-width: 600px) {
  .account-icon {
    margin: 0;
  }
}

.account-name {
  color: #312D70;
  line-height: 0.8;
  padding: 0 13px 0 0;
  transition: all 0.2s ease-in-out;
}
.account-name:hover {
  color: #9D98EC;
}
@media screen and (max-width: 740px) {
  .account-name {
    display: none;
  }
}

.dropdown--account {
  position: absolute;
  top: 7px;
  right: 0;
}
@media screen and (max-width: 740px) {
  .dropdown--account {
    display: none;
  }
}

/* Header Styles End */
/* Sidebar Styles Start */
.sidebar {
  position: relative;
}
.sidebar__body {
  padding: 15px 0 25px;
}
@media screen and (max-width: 768px) {
  .sidebar__body {
    padding: 0;
  }
}
.sidebar__nav {
  margin: 0 80px 0 0;
  transition: all 0.2s ease-in-out;
}
@media screen and (max-width: 768px) {
  .sidebar__nav {
    position: fixed;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    flex-wrap: wrap;
    width: 100%;
    height: 75%;
    top: -100%;
    left: 0;
    background: #fff;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.5);
    z-index: 10;
    padding: 120px 30px 40px;
  }
}
@media screen and (max-width: 768px) and (max-width: 600px) {
  .sidebar__nav {
    display: block;
  }
}
@media screen and (max-width: 600px) {
  .sidebar__nav {
    padding: 80px 20px 30px;
  }
}
.sidebar__nav.active {
  top: 0;
  overflow-y: auto;
}
.sidebar__nav.closed {
  position: absolute;
  top: 0;
  left: -9999%;
}
.sidebar__collapse {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #fff;
  margin: 0 0 30px 0;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
@media screen and (max-width: 768px) {
  .sidebar__collapse {
    display: none;
  }
}
.sidebar__collapse svg {
  margin-left: -2px;
  transition: all 0.2s ease-in-out;
}
.sidebar__collapse:hover {
  background: #9D98EC;
}
.sidebar__collapse:hover svg path {
  stroke: #fff;
}
.sidebar__nav ul {
  margin: 0 0 22px 0;
}
.sidebar__nav .sidebar__goods {
  margin: 0;
}
.sidebar__item {
  min-width: 170px;
  line-height: 1.875;
}
.sidebar__item a {
  transition: all 0.2s ease-in-out;
}
.sidebar__item a:hover {
  color: #9D98EC;
}
.sidebar__item--bold {
  font-weight: 600;
}
.sidebar__item--dropdown {
  max-width: 136px;
  position: relative;
}
.sidebar__item--number a {
  display: flex;
}
.sidebar__item--number a span {
  margin: 0 10px 0 0;
}
.sidebar__chat {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #312D70;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.sidebar__chat:hover {
  background: #9D98EC;
}
@media screen and (max-width: 768px) {
  .sidebar__chat {
    display: none;
  }
}
.sidebar__chat.active {
  width: 30px;
  height: 30px;
}
.sidebar__chat.active img {
  max-width: 16px;
  max-height: 16px;
}
.sidebar__chat--mobile {
  display: none;
}
@media screen and (max-width: 640px) {
  .sidebar__chat--mobile {
    position: relative;
    display: flex;
    margin: auto;
  }
}
.sidebar__icon-menu {
  position: absolute;
  top: 0;
  transform: translateX(-1000%);
  padding: 15px 0 25px;
  margin: 0 40px 0 0;
}
.sidebar__icon-menu.active {
  transform: translateX(0);
}
@media screen and (max-width: 768px) {
  .sidebar__icon-menu {
    display: none;
  }
}
.sidebar__expand {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #fff;
  margin: 0 0 30px 0;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.sidebar__expand svg {
  margin-left: -2px;
  transition: all 0.2s ease-in-out;
}
.sidebar__expand:hover {
  background: #9D98EC;
}
.sidebar__expand:hover svg path {
  stroke: #fff;
}
.sidebar__nav--collapsed ul {
  margin: 0 0 25px 0;
}
.sidebar__nav--collapsed .sidebar__reference {
  margin: 0;
}
.sidebar__item--collapsed {
  margin: 0 0 15px 0;
}
.sidebar__item--collapsed:last-child {
  margin: 0;
}

.dropdown--sidebar {
  position: absolute;
  top: 14px;
  right: 32px;
}

/* Sales Styles Start */
.sales {
  margin: 0 0 45px 0;
}
@media screen and (max-width: 768px) {
  .sales {
    margin: 0 0 40px 0;
  }
}
.sales__title {
  max-width: 65%;
  margin: 0 0 20px 0;
}
.sales__cards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}
@media screen and (max-width: 1440px) {
  .sales__cards {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (max-width: 1024px) {
  .sales__cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 768px) {
  .sales__cards {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 640px) {
  .sales__cards {
    grid-template-columns: 1fr;
    gap: 10px;
  }
}
.sales__number {
  font-weight: 300;
  color: #A9A9BD;
}

.sales-card {
  grid-column: span 1;
  position: relative;
  min-height: 290px;
  background: #fff;
  box-shadow: 0px 0px 25px rgba(49, 45, 112, 0.08);
  border-radius: 3px;
  padding: 35px 40px 40px;
  transition: all 0.2s ease-in-out;
}
@media screen and (max-width: 768px) {
  .sales-card {
    padding: 25px 30px 35px;
  }
}
@media screen and (max-width: 600px) {
  .sales-card {
    min-height: 150px;
  }
}
.sales-card:hover {
  box-shadow: 0px 25px 50px rgba(49, 45, 112, 0.25);
}
.sales-card h3 {
  max-width: 80%;
  margin: 0 0 22px 0;
  transition: all 0.2s ease-in-out;
}
.sales-card h3:hover {
  color: #9D98EC;
}
.sales-card__number {
  position: absolute;
  top: 33px;
  right: 40px;
}
@media screen and (max-width: 768px) {
  .sales-card__number {
    top: 22px;
    right: 30px;
  }
}
.sales-card__loading {
  position: absolute;
  top: 33px;
  right: 40px;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #FF4F00;
}
@media screen and (max-width: 768px) {
  .sales-card__loading {
    top: 22px;
    right: 30px;
  }
}
.sales-card__info {
  display: flex;
  justify-content: space-between;
  margin: 0 0 30px 0;
}
.sales-card__block:first-child {
  margin: 0 20px 0 0;
}
.sales-card__block p {
  color: #A9A9BD;
  line-height: 1.25;
  margin: 0 0 8px 0;
}
.sales-card__separator {
  width: 30px;
  border: 1.5px solid #9D98EC;
  border-radius: 3px;
  margin: 0 0 16px 0;
}
.sales-card__numbers {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.3;
  margin: 0 0 8px 0;
}
.sales-card__growth {
  font-size: 14px;
  color: #00D385;
}
.sales-card__decrease {
  font-size: 14px;
  color: #FF0000;
}
.sales-card__arrow {
  position: absolute;
  bottom: 40px;
  left: 40px;
}
@media screen and (max-width: 768px) {
  .sales-card__arrow {
    bottom: 30px;
    left: 30px;
  }
}
.sales-card__arrow svg {
  fill: #00D385;
  transition: all 0.2s ease-in-out;
}
.sales-card__arrow svg:hover {
  fill: #00EE96;
}
.sales-card__plus {
  position: absolute;
  bottom: 40px;
  left: 40px;
}
@media screen and (max-width: 768px) {
  .sales-card__plus {
    bottom: 35px;
    left: 30px;
  }
}
.sales-card__plus svg path {
  stroke: #00D385;
  transition: all 0.2s ease-in-out;
}
.sales-card__plus:hover svg path {
  stroke: #00EE96;
}

.sales-card--active {
  background: #312D70;
  transition: all 0.2s ease-in-out;
}
.sales-card--active:hover {
  background: #9D98EC;
  box-shadow: 0px 0px 25px rgba(49, 45, 112, 0.08);
}
.sales-card--active h3 {
  color: #fff;
}
.sales-card--active h3:hover {
  color: #fff;
}

.sales-card--stopped h3 {
  color: #A9A9BD;
}
.sales-card--stopped h3:hover {
  color: #A9A9BD;
}

.sales-card--add {
  background: transparent;
  border: 2px dashed rgba(49, 45, 112, 0.1);
  box-shadow: none;
  transition: all 0.2s ease-in-out;
}
.sales-card--add:hover {
  box-shadow: none;
  border: 2px dashed #9D98EC;
}
.sales-card--add:hover h3 {
  color: #9D98EC;
}

.sales-card--content-loading {
  box-shadow: none;
}
.sales-card--content-loading:hover {
  box-shadow: none;
}
.sales-card--content-loading span {
  display: block;
  height: 10px;
  background: #E4E5F0;
}
.sales-card--content-loading .top-block {
  margin: 0 0 55px 0;
}
.sales-card--content-loading .top-block .line-top {
  width: 70%;
  margin: 0 0 10px 0;
}
.sales-card--content-loading .top-block .line-bottom {
  width: 35%;
}
.sales-card--content-loading .top-block__circle {
  position: absolute;
  top: 25px;
  right: 40px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #E4E5F0;
}
.sales-card--content-loading .middle-block {
  display: flex;
  justify-content: space-between;
  margin: 0 0 35px 0;
}
.sales-card--content-loading .middle-block__box {
  flex: 1 1 50%;
}
.sales-card--content-loading .middle-block__box .line-top {
  width: 50%;
  margin: 0 0 10px 0;
}
.sales-card--content-loading .middle-block__box .line-middle {
  width: 80%;
  margin: 0 0 10px 0;
}
.sales-card--content-loading .middle-block__box .line-bottom {
  width: 25%;
}
.sales-card--content-loading .bottom-block__line {
  width: 25%;
}

.sales-card--content-loading-add {
  background: transparent;
  box-shadow: none;
  border: 10px dashed rgba(49, 45, 112, 0.1);
}
.sales-card--content-loading-add:hover {
  box-shadow: none;
}
.sales-card--content-loading-add span {
  display: block;
  height: 10px;
  background: #E4E5F0;
}
.sales-card--content-loading-add .line-top {
  width: 75%;
  margin: 0 0 10px 0;
}
.sales-card--content-loading-add .line-bottom {
  width: 37%;
}

/* Sales Styles End */
/* Sections Styles Start */
.sections {
  margin: 0 0 45px 0;
}
@media screen and (max-width: 768px) {
  .sections {
    margin: 0 0 40px 0;
  }
}
.sections__title {
  margin: 0 0 20px 0;
}
.sections__cards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}
@media screen and (max-width: 1440px) {
  .sections__cards {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (max-width: 1024px) {
  .sections__cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 768px) {
  .sections__cards {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 640px) {
  .sections__cards {
    grid-template-columns: 1fr;
    gap: 10px;
  }
}

.sections-card {
  grid-column: span 1;
  position: relative;
  min-height: 200px;
  background: #fff;
  box-shadow: 0px 0px 25px rgba(49, 45, 112, 0.08);
  border-radius: 3px;
  padding: 35px 40px 40px;
  transition: all 0.2s ease-in-out;
}
@media screen and (max-width: 768px) {
  .sections-card {
    padding: 25px 30px 35px;
  }
}
@media screen and (max-width: 600px) {
  .sections-card {
    min-height: 120px;
  }
}
.sections-card:hover {
  box-shadow: 0px 25px 50px rgba(49, 45, 112, 0.25);
}
.sections-card h3 {
  max-width: 80%;
  margin: 0 0 22px 0;
  transition: all 0.2s ease-in-out;
}
@media screen and (max-width: 768px) {
  .sections-card h3 {
    margin: 0 0 32px 0;
  }
}
.sections-card h3:hover {
  color: #9D98EC;
}
.sections-card__number {
  position: absolute;
  top: 33px;
  right: 40px;
}
@media screen and (max-width: 768px) {
  .sections-card__number {
    top: 22px;
    right: 30px;
  }
}
.sections-card__number--active {
  color: #312D70;
  background: #fff;
}
.sections-card__arrow {
  position: absolute;
  bottom: 40px;
  left: 40px;
}
@media screen and (max-width: 768px) {
  .sections-card__arrow {
    bottom: 35px;
    left: 30px;
  }
}
.sections-card__arrow svg {
  fill: #00D385;
  transition: all 0.2s ease-in-out;
}
.sections-card__arrow svg:hover {
  fill: #00EE96;
}

.sections-card--active {
  background: #00D385;
}
.sections-card--active:hover {
  background: #00EE96;
  box-shadow: 0px 0px 25px rgba(49, 45, 112, 0.08);
}
.sections-card--active h3 {
  color: #fff;
}
.sections-card--active h3:hover {
  color: #fff;
}

.sections-card--content-loading {
  box-shadow: none;
}
.sections-card--content-loading:hover {
  box-shadow: none;
}
.sections-card--content-loading span {
  display: block;
  height: 10px;
  background: #E4E5F0;
}
.sections-card--content-loading .top-block {
  margin: 0 0 75px 0;
}
.sections-card--content-loading .top-block__line-top {
  width: 75%;
  margin: 0 0 10px 0;
}
.sections-card--content-loading .top-block__line-bottom {
  width: 40%;
}
.sections-card--content-loading .bottom-block__line {
  width: 30%;
}

/* Sections Styles End */
/* Service Styles Start */
@media screen and (max-width: 640px) {
  .service {
    margin: 0 0 30px 0;
  }
}
.service__title {
  margin: 0 0 20px 0;
}
.service__number {
  font-weight: 300;
  color: #A9A9BD;
}
.service__cards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}
@media screen and (max-width: 1440px) {
  .service__cards {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (max-width: 1024px) {
  .service__cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 768px) {
  .service__cards {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 640px) {
  .service__cards {
    grid-template-columns: 1fr;
    gap: 10px;
  }
}

.service-card {
  grid-column: span 1;
  position: relative;
  min-height: 260px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #fff;
  box-shadow: 0px 0px 25px rgba(49, 45, 112, 0.08);
  border-radius: 3px;
  padding: 35px 40px 40px;
}
@media screen and (max-width: 768px) {
  .service-card {
    padding: 25px 30px 30px;
  }
}
@media screen and (max-width: 600px) {
  .service-card {
    min-height: 145px;
  }
}
.service-card h3 {
  margin: 0 0 20px 0;
  transition: all 0.2s ease-in-out;
}
.service-card__list {
  margin: auto 0 20px 0;
}
.service-card__list li {
  line-height: 1.5;
  position: relative;
  padding: 0 0 0 10px;
}
.service-card__list li:before {
  position: absolute;
  top: 12px;
  left: 0;
  content: "";
  display: block;
  width: 2px;
  height: 2px;
  background: #9D98EC;
}
.service-card__more {
  justify-self: flex-end;
  line-height: 1.5;
  color: #00D385;
  transition: all 0.2s ease-in-out;
}
.service-card__more:hover {
  color: #00EE96;
}
.service-card__arrow {
  margin-top: auto;
}

.service-card--more {
  background: transparent;
  border: 2px solid rgba(49, 45, 112, 0.1);
  box-shadow: none;
  transition: all 0.2s ease-in-out;
}
.service-card--more:hover {
  box-shadow: none;
  border: 2px solid #9D98EC;
}
.service-card--more:hover h3 {
  color: #9D98EC;
}
.service-card--more .service-card__arrow svg {
  fill: #00D385;
  transition: all 0.2s ease-in-out;
}
.service-card--more .service-card__arrow svg:hover {
  fill: #00EE96;
}

.service-card--content-loading {
  box-shadow: none;
}
.service-card--content-loading:hover {
  box-shadow: none;
}
.service-card--content-loading span {
  display: block;
  height: 10px;
  background: #E4E5F0;
}
.service-card--content-loading .top-block {
  margin: 0 0 40px 0;
}
.service-card--content-loading .top-block__line-top {
  width: 60%;
  margin: 0 0 10px 0;
}
.service-card--content-loading .top-block__line-bottom {
  width: 90%;
}
.service-card--content-loading .middle-block {
  margin: 0 0 50px 0;
}
.service-card--content-loading .middle-block__line-top {
  width: 40%;
  margin: 0 0 10px 0;
}
.service-card--content-loading .middle-block__line-middle {
  width: 50%;
  margin: 0 0 10px 0;
}
.service-card--content-loading .middle-block__line-bottom {
  width: 40%;
}
.service-card--content-loading .bottom-block__line {
  width: 30%;
}

.service-card--content-loading-add {
  box-shadow: none;
  background: transparent;
  border: 10px solid rgba(49, 45, 112, 0.1);
}
.service-card--content-loading-add:hover {
  box-shadow: none;
}
.service-card--content-loading-add span {
  display: block;
  height: 10px;
  background: #E4E5F0;
}
.service-card--content-loading-add .top-block {
  margin: 0 0 140px 0;
}
.service-card--content-loading-add .top-block__line-top {
  width: 80%;
  margin: 0 0 10px 0;
}
.service-card--content-loading-add .top-block__line-bottom {
  width: 45%;
}
.service-card--content-loading-add .bottom-block__line {
  width: 30%;
}

/* Service Styles Start */